body{
    background-color: rgba(0, 0, 0, 0.9);
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
}
.episode-0{
    color: gold;
    position: absolute;
    font-weight: bold;
    text-align: justify;
    transform: perspective(500px) rotateX(45deg) rotateY(0.1deg);
    top: 72%;
    animation: scroll 30s linear infinite;
    animation-iteration-count: infinite;
    animation-delay: 0.2s;
    animation-duration: 30s;
    font-size: 30px;
    left: 600px;
}
.episode-tittle{
    text-transform: uppercase;
    text-align: center;
}
.first-paragraph{
    font-size: 35px;
    font-weight: bold;
    position: relative;
    width: 700px;
}
.second-paragraph{
    font-size: 33px;
    font-weight: bold;
    margin-top: 35px;
    width: 700px;
    height: 300px;
}
@keyframes scroll {
    0% { top: 70%; }
    100% { top: -20%; }
}
